<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   BristleconeBeach.plist
   Dognet

   Created by Jeff Ishaq on 5/11/16.
   Copyright (c) 2016 Snowdog Software. All rights reserved.
 
   Coordinates of BristleCone Beach in Tahoe City, CA
-->
<plist version="1.0">
    <dict>
        <key>midCoord</key>
        <string>{39.181280,-120.116489}</string>
        
        <key>overlayTopRightCoord</key>
        <string>{39.182387,-120.114981}</string>

        <key>overlayTopLeftCoord</key>
        <string>{39.182387,-120.117496}</string>

        <key>overlayBottomLeftCoord</key>
        <string>{39.180512,-120.117496}</string>

<key>boundary</key>
        <array>
            <string>{39.182154,-120.115496}</string>
            <string>{39.181869,-120.117059}</string>
            <string>{39.180908,-120.116832}</string>
            <string>{39.180625,-120.115524}</string>
        </array>
    </dict>
</plist>
